


/**-----------------PRIMEROS ELEMENTOS-------------------**/



*{
    background-color: var(--color--5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color--1: #FEF2F2;
    --color--2: #F26440;
    --color--3: #286F6C;
    --color--4: #ADADAD;
    --color--5: #FFFFFF;
    --color--6: #f9f5f2;
}




/**----------------BARRA DE NAVEGACION------------------**/




nav{
    width: auto;
    height: auto;
    background-color: var(--color--1);
    padding: 1rem 1rem;
}

ul.barra-nav{
    display: flex;
    margin: 0;
    margin-right: 7rem;
    padding: 1rem;
    list-style: none;
    background-color: var(--color--1);
    gap: 3rem;
    justify-content: flex-end;
    
}

li.indice{
    width: 100%;
    height: auto;
    margin-right: 1rem;
    background-color: var(--color--1);
    color: var(--color--4);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


li.indice:hover{
    color: var(--color--3);
    cursor: pointer;
    font-weight: 600;
    box-shadow: 5px 5px 20px rgb(235, 233, 233);
}

img.menu{
    width: 30px;
    background-color: transparent;
    visibility: hidden;
}

#menu-desplegable{
    visibility: hidden;
}


/*MEDIA QUERY BARRA DE NAVEGACION-------------------------*/


@media screen and ( max-width: 600px ){
    
    nav{
        display: flex;
        justify-content: end;
    }
    
    ul.barra-nav{
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        right: 0;
        top: 50px;
        min-height: calc(100vh - 50px);
        padding: 1.5rem 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        text-align: center;
    }

    img.menu{
        visibility: visible;
    }
    
    #menu-desplegable:checked ~ ul.barra-nav{
        display: flex;
    }

}




/**--------------------PRIMER BLOQUE---------------------**/




        /*Contendor principal*/

header.contenedor1{
    display: grid;
    padding: 1rem;
    padding-bottom: 4.5rem;
    height: auto;
    background-color: var(--color--1);
    box-sizing: border-box;
    grid-template-columns: 1.4fr 2fr;
}

        /*Objetos del primer(1) elemento incluido este*/

div.c1elementos1{
    display: inline-block;
    margin: 1rem;
    padding: 5rem;
    padding-left: 7rem;
    width: auto;
    height: auto;
    background-color: var(--color--1);

}

div.c1elementos1>p.titulo{
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    background-color: var(--color--1);

}

div.c1elementos1>div.iconos{
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
    background-color: var(--color--1);
    
}

div.c1elementos1>div.iconos>span.contorno>span{
    display: inline-block;
    width: auto;
    height: auto;
    padding: .8rem;
    margin: 5px;
    background-color: var(--color--2);
    border-radius: 100%;
}

div.c1elementos1>div.iconos>span.contorno>span>img{
    background-color: var(--color--2);
    width: 38px;
    height: auto;
}

div.c1elementos1>div.iconos>span.contorno{
    border-radius: 100%;
    width: auto;
    height: auto;
}


        /*Objetos del segundo(2) elemento incluido este*/

div.c1elementos2{
    background-color: var(--color--1);
    box-sizing: border-box;
    display: flex;  
    height: auto;
}

div.circulo-verde{
    position: relative;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-color: var(--color--3);
}

div.imagen1{
    position: absolute;
    background-color: transparent;
    
}
div.imagen1>img{
    position: relative;
    background-color: transparent;
    width: auto;
    left: 100px;
    top: 20px;
}


/*MEDIA QUERY DEL PRIMER BLOQUE---------------------------*/


@media screen and ( max-width: 600px ){
    
    header.contenedor1{
        display: inline-block;
        box-sizing: border-box;
        width: auto;
        height: auto;
        background-color: var(--color--1);
        margin: 0;
        padding: 0;
        justify-content: center;

    }

    div.c1elementos1{
        display: inline;
        width: auto;
        height: auto;
        box-sizing: border-box;
        justify-content: center;
        margin: auto;
        padding: auto;
        justify-content: center;


    }

    div.c1elementos1>p.titulo{
        width: auto;
        text-align: center;
        font-size: 50px;
        margin: auto;
        padding: auto;

    }


    div.c1elementos2{
        display: inline;
        justify-content: center;
        width: auto;
        height: auto;
        justify-content: center;
        margin: auto;
        padding: auto;


    }

    div.c1elementos1>div.iconos{
        width: auto;
        padding: auto;
        margin: auto;
        margin-top: 1rem;
        justify-content: center;
        gap: 2rem;
    }

    div.circulo-verde{
        width: 200px;
        height: 200px;
        position: absolute;
        border-radius: 100%;
        background-color: var(--color--3);
        left: 6rem;
        bottom: 16rem;
    }

    div.imagen1{
        box-sizing: border-box;
        display: inline;
        position: relative;
        bottom: 0rem;
        width: auto;
        height: auto;
        z-index: 1;
        bottom: 1rem;
        right: 4.5rem;
        
    }

    div.imagen1>img{
        background-color: transparent;
        width: 50%;
        position: relative;

    }
}

/**-------------------SEGUNDO BLOQUE---------------------**/


        /*Contendor principal*/

div.contenedor2{
    display: inline-block;
    padding: 1rem;
    width: auto;
    height: auto;
    background-color: var(--color--5);
    box-sizing: border-box;
}  


/*Objetos del primer(1) elemento incluido este*/


div.contenedor2>div.c2elementos1{
    display: inline-block;
    height: auto;
    width: auto;
    margin-left: 14%;
    margin-right: 14%;
    background-color: var(--color--5);
    
}

div.contenedor2>div.c2elementos1>div.acerca-de1{
    margin: 1rem;
    padding: 1rem;
    color: var(--color--3);
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}



div.contenedor2>div.c2elementos1>div.acerca-de2{
    margin: 1rem;
    padding: 1rem;
    color: var(--color--4);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
   
}



/*Objetos del segundo(2) elemento incluido este*/



div.contenedor2>div.c2elementos2{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding-top: 1rem;
}

div.contenedor2>div.c2elementos2>div.circulo-verde2{
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: 610px;
    height: 610px;
    border-radius: 100%;
    background-color: var(--color--3);
}

div.contenedor2>div.c2elementos2>div.circulo-naranja{
    position: relative;
    top: 80px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: var(--color--2);
}

div.contenedor2>div.c2elementos2>div.texto1-elemento2{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    color: var(--color--5);
    bottom: 60px;
    left: 15rem;
    z-index: 1;

}

div.contenedor2>div.c2elementos2>div.texto1-elemento2>p{
    background-color: transparent;
}


div.contenedor2>div.c2elementos2>div.habilidades-el2{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;
}

div.contenedor2>div.c2elementos2>div.habilidades-el2>div.habilidad{
    display: flex;
    position: relative;
    background-color: transparent;
    justify-content: space-between;
    height: auto;
    margin-left: 14%;
    margin-right: 14%;
    gap: 4rem;
    bottom: 30px;
    left: 45px;
}

div.contenedor2>div.c2elementos2>div.habilidades-el2>div.habilidad>div{
    background-color: var(--color--1);
    width: auto;
    height: auto;
    border-radius: 2%;

}

div.contenedor2>div.c2elementos2>div.habilidades-el2>div.habilidad>div>h3{
    display: inline-block;
    background-color: var(--color--1);
    padding: 5px;
    margin: 5px;
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
  
}

div.contenedor2>div.c2elementos2>div.habilidades-el2>div.habilidad>div>p{
    display: inline-block;
    width: auto;
    background-color: var(--color--1);
    padding: 5px;
    margin: 5px;
    padding-bottom: 30px;
    padding-top: 1p;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--color--4);
  
}

div.contenedor2>div.c2elementos2>div.habilidades-el2>div.habilidad>div>h3>img{
    padding-right: 4px;
    background-color: transparent;
}



/*Objetos del tercer(3) elemento incluido este*/

div.contenedor2>div.c2elementos3{
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 10rem;
    box-sizing: border-box;
}

div.contenedor2>div.c2elementos3>div.texto1-elemento3{
    display: inline-block;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 2rem;
    height: auto;
    color: var(--color--3);
    font-size: 40px;
    font-family: 'Inter', sans-serif;
   
}

div.contenedor2>div.c2elementos3>div.trabajos-elemento3{
    display: flex;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    gap: 5rem;
    justify-content: space-between;

}

div.contenedor2>div.c2elementos3>div.trabajos-elemento3>div.work{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

div.contenedor2>div.c2elementos3>div.trabajos-elemento3>div.work>img{
    width: 150%;
}

div.contenedor2>div.c2elementos3>div.trabajos-elemento3>div.work>p{
    width: 100%;
    height: auto;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}


/*MEDIA QUERY PARA EL SEGUNDO BLOQUE----------------------*/


@media screen and ( max-width: 600px ){

    div.contenedor2{
        width: 100%;
        box-sizing: border-box;

    }  

    div.contenedor2>div.c2elementos1{
        width: auto;
        box-sizing: border-box;
        justify-content: center;
        margin: 1rem 1rem;
        padding: auto;
        
        
    }

    div.contenedor2>div.c2elementos1>div.acerca-de1{
        font-size: 32px;
        margin: 1rem 1rem;
    }

    div.contenedor2>div.c2elementos1>div.acerca-de2{
        font-size: 16px;
        margin: 1rem 1rem; 

    }

    div.contenedor2>div.c2elementos2{
        width: auto;
        box-sizing: border-box;
        justify-content: center;

    }

    div.contenedor2>div.c2elementos2>div.circulo-verde2{
        width: 200px;
        height: 200px;

    }

    div.contenedor2>div.c2elementos2>div.circulo-naranja{
        position: relative;
        top: 0;
        bottom: 0;
        width: 100px;
        height: 100px;


    }

    div.contenedor2>div.c2elementos2>div.habilidades-el2{
        justify-content: center;
        padding: 1rem;
    }

    div.contenedor2>div.c2elementos2>div.habilidades-el2>div.habilidad{
        display: inline-block;
        position: relative;
        padding: .5rem 1rem;
        top: 2rem;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: transparent;
        box-sizing: border-box;
     }

    div.contenedor2>div.c2elementos2>div.habilidades-el2>div.habilidad>div{
        background-color: var(--color--1);
        margin: 1rem;
        width: auto;
        height: auto;
        
    
    }

    div.contenedor2>div.c2elementos2>div.texto1-elemento2{
        width: auto;
        font-size: 32px;
        bottom: 20px;
        left: 7rem;
        z-index: 1;
        padding-right: 10px;
    
    }

    div.contenedor2>div.c2elementos2>div.texto1-elemento2>p{
        width: auto;
        padding: auto;
        margin: auto;
        color: var(--color--4);
        font-weight: bold;
    }
}

/**-------------------TERCER BLOQUE---------------------**/




